@font-face {
  font-family: "pixelEmulator";
  src: url("font/PixelEmulator-xq08.ttf") format("truetype");
  font-weight: normal; /* Adjust based on the font's weight */
  font-style: normal; /* Adjust if it's italic/oblique */
}

body {
  margin: 0;
  font-family: "pixelEmulator", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: "pixelEmulator", Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
